modules = ["nodejs-20", "web"]
run = "npm start"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 9005
externalPort = 3002

[[ports]]
localPort = 19000

[deployment]
run = ["sh", "-c", "npm start"]
